# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

boto3>=1.3.1
botocore>=1.4.28
decorator>=4.0.10
docutils>=0.12
futures>=3.0.5
jmespath>=0.9.0
jsonpath-rw>=1.4.0
objectpath>=0.5
ply>=3.8
prettytable>=0.7.2
python-dateutil>=2.5.3
requests>=2.10.0
six>=1.10.0



#pbr>=1.6 # Apache-2.0
#iso8601>=0.1.11 # MIT
#oslo.i18n>=2.1.0 # Apache-2.0
#oslo.serialization>=1.10.0 # Apache-2.0
#oslo.utils>=3.11.0 # Apache-2.0
#PrettyTable<0.8,>=0.7 # BSD
#requests>=2.10.0 # Apache-2.0
#simplejson>=2.2.0 # MIT
#six>=1.9.0 # MIT
#Babel>=2.3.4 # BSD
#requests>=2.5.0
#urllib3>=1.13.1
#boto3>=1.3.0
## botocore==1.4.27
#requests>=2.6.0
#objectpath>=0.4
