{
"scaling_configuration_name": "{{SCALING_CONFIGURATION_NAME}}",

"instance_config": {
	
{% if IMAGE_ID %}"imageRef": "{{IMAGE_ID}}"{% endif %}	
{% if INSTANCE_TYPE %},"flavorRef": "{{INSTANCE_TYPE}}",{% endif %}
"disk": [{
"size": {{VOLUME_SIZE}},
"volume_type": "{{VOLUME_TYPE}}",
"disk_type": "{{DISK_TYPE}}"
}],
{#"personality": [],#}
"key_name": "{{KEYNAME}}"
}
}
