{
	"action": "{{INSTANCE_ACTION_ADD_REMOVE_BATCH}}",
	"instances_id": [
        {% set instlist = INSTANCE_ID.split(',') %}
        {% for INSTANCE in instlist %}
            "{{INSTANCE}}"
        {% if not loop.last %}
        ,
        {% endif %}
        {% endfor %}
        ]
	{% if INSTANCE_DELETE %},"instance_delete": "{{INSTANCE_DELETE}}"{% endif %}
}
