{
	"action": "{{INSTANCE_ACTION_ADD_REMOVE_BATCH}}",
	"instances_id": [
        {% set instlist = INSTANCE_ID.split(',') %}
        {% for INSTANCE in instlist %}
        {
            "id": "{{INSTANCE}}"
        }
        {% if not loop.last %}
        ,
        {% endif %}
        {% endfor %}
        ],
	"instance_delete": "{{INSTANCE_DELETE}}"
}
