{ 
     "apiVersion": "v1", 
    "kind": "Namespace", 
    "metadata": { 
        "name": "{{NAMESPACE}}",
        "labels": {
            "name": "{{SUBCOM_P1}}"
        }
    },
    "spec": { 
        "finalizers": [ 
            "kubernetes"
        ] 
    }
}