{
{% if LOADBALANCER_NAME %}
"name":"{{LOADBALANCER_NAME}}"
{% endif %}
{% if LISTENER_DESCRIPTION %}
,"description":"{{LISTENER_DESCRIPTION}}"
{% endif %}
{% if BANDWIDTH %}
,"bandwidth": {{BANDWIDTH}}
{% endif %}
}
