{ 
    "kind": "Secret", 
    "apiVersion": "v1", 
    "metadata": { 
        "name": "{{SECRET_NAME}}"
    }, 
    "type": "Opaque",
    "data": { 
        "password": "{{ADMINPASS}}", 
        "username": "{{KEYNAME}}" 
    }
}