{
	"instance": {
		"name": "{{CLUSTER}}",
		"datastore": {
			"type": "{{DBTYPE}}",
			"version": "{{DBVERSION}}"
		},
		"flavorRef": "{{FLAVORID}}",
		"volume": {
			"type": "COMMON",
			"size": 100
		},
		"region": "eu-de",
		"availabilityZone": "{{AZ}}",
		"vpc": "{{VPCID}}",
		"nics": {
			"subnetId": "{{SUBNETID}}"
		},
		"securityGroup": {
			"id": "{{SECUGROUP}}"
		},
		"backupStrategy": {
			"startTime": "01:00:00",
			"keepDays": 3
		},
		"dbRtPd": "{{ADMINPASS}}"
	}
}
